<h1>Your result</h1>
  <p>Your word: <%= @answer %></p>
  <p>Time Taken to answer: <%= @result[:time] %></p>
  <p>Translation: <%= @result[:translation] %></p>
  <p>Your score: <%= @result[:score] %></p>
  <p>Message: <%= @result[:message]%></p>
  <%= link_to "play again", game_path %>


